@import "./settings.scss";

@mixin space-between {
  display: flex;
  justify-content: space-between;
}

@mixin row {
  display: flex;
  flex-direction: row;
}

@mixin column {
  display: flex;
  flex-direction: column;
}

@mixin evenly {
  display: flex;
  justify-content: space-evenly;
}

@mixin button {
  width: 135px;
  font-size: 0.85rem;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

@mixin button-primary {
  @include button;
  color: $white;
  background-color: $salmon;
  border: none;

  &:hover {
    background-color: darken($salmon, 5);
  }
}

@mixin button-secondary {
  @include button;
  color: $salmon;
  background-color: transparent;
  border: 1px solid $salmon;
  &:hover {
    color: darken($salmon, 10);
    border: 1px solid darken($salmon, 10);
  }
}

@mixin alignment {
  max-width: 1080px;
  padding: 0.5rem 1rem;
  margin: 0 auto;
}

@mixin hambMenu {
  position: absolute;
  left: 0;
  top: 0;
  padding: 1rem;
  height: 100vh;
  justify-content: space-evenly;
  width: 100%;
  text-align: center;
  background-color: white;
  z-index: 1;
  transition: all 0.3s ease-in-out;
}

@mixin span {
  height: 17px;
  width: 4px;
  background-color: $salmon;
  margin-right: 0.6rem;
}
