//COLORS
$white: #fdfdfd;
$light-black: rgba(0, 0, 0, 0.66);
$dark-blue: rgb(32, 38, 119);
$blue: rgba(62, 71, 203, 0.94);
$salmon: #fb7c7c;

//RESPONSIVE BREAKPOINTS
$tablet: 640px;
$small-desktop: 768px;
$desktop: 1280px;
