@import "../styles/settings.scss";
@import "../styles/mixins.scss";

.footer {
  @include column;
  @include alignment;
  justify-content: space-between;
  background-color: transparent;
  color: $light-black;
  margin-top: 2rem;
  width: 100%;
  a {
    align-self: center;
  }
  @media (min-width: $small-desktop) {
    flex-direction: row;
  }
}

.texto {
  @include column;
  text-align: center;
  @media (min-width: $small-desktop) {
    text-align: unset;
  }
}

.h4,
.h5 {
  font-weight: 400;
}

.h5 {
  display: none;
  @media (min-width: $small-desktop) {
    display: block;
  }
}

.button {
  @include button-primary;
}
